@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Inter-Light'),
    url('../fonts/Inter-Light.woff2') format('woff2'),
    url('../fonts/Inter-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Inter-Regular'),
    url('../fonts/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Inter-Medium'),
    url('../fonts/Inter-Medium.woff2') format('woff2'),
    url('../fonts/Inter-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Inter-SemiBold'),
    url('../fonts/Inter-SemiBold.woff2') format('woff2'),
    url('../fonts/Inter-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Inter-Bold'),
    url('../fonts/Inter-Bold.woff2') format('woff2'),
    url('../fonts/Inter-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src: local('Inter-ExtraBold'),
    url('../fonts/Inter-ExtraBold.woff2') format('woff2'),
    url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-display: swap;
}

:root {
  --accent-r: #D64751;
  --accent-b: #002283;
  --accent-g: #02880B;
  --premium: #D6DBFF;
  --default: #343330;
  --other-b: #21359E;
  --other-g: #D3D0D0;
  --gray: #F1F1F2;
  --gray-text: #78828E;
  --popup-bor: rgba(18, 19, 22, 0.15);
  --step-color: #9F9FA0;
  --step-txt: #737376;
}

body {
  font-family: 'Inter-Regular';
  font-size: 16px;
  color: var(--default);
  background-color: var(--gray);
  overflow-x: hidden;
}

img {
  object-fit: cover;
}

/* .humb {
  display: none;
} */

.hamb__field {
  display: grid;
  gap: 8px;
  cursor: pointer;
}

.hamb__field .bar {
  height: 4px;
  width: 40px;
  background-color: var(--accent-b);
  border-radius: 2px;
  margin-left: auto;
  transition: all .5s;
}


.bar:nth-child(1) {
  width: 80px;
}

.bar:nth-child(2) {
  width: 60px;
}

.hamb__field.active .bar {
  width: 40px;
  background-color: var(--accent-r);
}

.hamb__field.active .bar:nth-child(1) {
  width: 40px;
  transform: translateY(12px) rotate(45deg);
}

.hamb__field.active .bar:nth-child(2) {
  opacity: 0;
}

.hamb__field.active .bar:nth-child(3) {
  width: 40px;
  transform: translateY(-12px) rotate(-45deg);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100px;
  z-index: 50;
  overflow: auto;
  /* overflow-y: scroll; */
  background-color: var(--gray);
  display: none;
}

.popup.top-scroll {
  top: 100px;
}

.popup.active {
  display: block;
}

.popup-menu__list {
  padding: 30px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.popup-menu__list-item>a {
  padding: 15px 20px;
  display: block;
}

.popup-menu__list-item:hover>a {
  opacity: .6;
}

.noscroll {
  overflow: hidden;
}

.top-nav.active {
  position: fixed;
  left: 0;
  right: 0;
  background-color: var(--gray);
  top: 0;
  z-index: 10;
  padding: 20px;
}



.swiper-controls {
  position: absolute;
  height: 40px;
  width: 248px;
  left: calc(50% - 128px);
  bottom: 0;
}

@media (min-width: 468px) {
  .swiper-controls {
    bottom: 24px;
  }
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px;
  margin-bottom: 4px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #fff7;
}

.swiper-pagination-bullet-active {
  height: 16px;
  width: 16px;
  background-color: #fff;
}

.swiper-button-next,
.swiper-button-prev {
  height: 40px;
  width: 40px;
  top: 14px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  height: 24px;
  width: 24px;
  background-image: url('../img/icons/arrow.svg');
}

.swiper-button-prev:after {
  transform: rotate(180deg);
}


/* map */
.ymaps3x0--map-container {
  border-radius: 30px;
}

/* popup-call */

#popup-complaint-step-1.active {
  display: block;
}

#popup-complaint-step-2.active {
  display: flex;
}

#popup-complaint-step-3.active {
  display: block;
}

.img-wrapper {
  position: relative;
  padding-bottom: 50px;
  width: 100%;
  border: 1px solid var(--accent-b);
  border-radius: 6px;
}

.img-place.active{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4px;
}

.img-delete {
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 2px;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 1px solid var(--accent-r);
  border-radius: 3px;
}

.img-wrapper-one {
  padding-bottom: 50%;
}

.img-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}


/* checkbox */

.checkbox-label__inner {
  flex: none;
  width: 16px;
  height: 16px;
  margin: 8px;
  border: 1px solid var(--popup-bor);
  border-radius: 2px;
}

.checkbox-label__inner svg {
  display: none;
}

.checkbox-label:hover .checkbox-label__inner {
  border-color: var(--accent-g);
}

.checkbox-main:focus+.checkbox-label__inner {
  border-width: 2px;
}

.checkbox-main:disabled+.checkbox-label__inner {
  border-color: var(--accent-r);
}

.checkbox-main.error+.checkbox-label .checkbox-label__inner {
  border-color: var(--accent-r);
}

.checkbox-main:checked+.checkbox-label__inner svg {
  display: block;
}

.checkbox-main:checked+.checkbox-label__inner {
  border-color: var(--accent-g);
}


.step {
  width: 28px;
  height: 4px;
  border-radius: 16px;
  background-color: var(--step-color);
}

.step.active {
  background-color: var(--default);
}